.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
